<h1>Young Client Consent Form</h1>
<p>Date: {DATE}<br />
Agreement Ref: {REFEREE}</p>
<br />
<br />
<p style="float: right; width: 77%; font-style: italic; font-size: 0.78em; margin-right: 39px;"><strong>Notice:</strong><br />This form is a legal contract that fit into none disclosure we will never place this contract unless needed in legal waiver into the public spectrum or media, it is stored in a private location after photograph with at least a 3 mega-pixel camera or scanned it at a high resolution and either upload to the following URL: <a href="{CONSENT_UPLOAD}">{CONSENT_UPLOAD}</a> or reply to the email containing this file leaving the subject line, only from the email address of: {CLIENTEL_EMAIL}.</p>
<br />
<br />
<p>I, {CLIENTEL_NAME} am the participant adult activities that require guardian consent and have the consent of my guardian {GUARDIAN_NAME} who’s {REFERER_TYPE} details are {REFERER_VALUE}. I understand my legal responsibilities as a participant and realise this permission consent Form is for myself potentially a young adult as mentioned above to participant in adult education or activities sometime with classes, training and workshops with the facility provider.</p>
<br />
<br />
<br />
<p><em>I hereby declare legal consent</em>
<br />
<br />
<br />
_____________________________________<br />
Signed: {CLIENTEL_NAME}<br />
<br /><br />
___________________________________<br />
Date<br />
<br />
My Email: {CLIENTEL_EMAIL}<br />
My Phone: {CLIENTEL_PHONE}</p>