<h1>Young Client Consent Form</h1>
<p>Date: <{agreement.date}><br />
Agreement Ref: <{agreement.referee}></p>
<br />
<br />
<p style="float: right; width: 77%; font-style: italic; font-size: 0.78em; margin-right: 39px;"><strong>Notice:</strong><br />This form is a legal contract that fit into none disclosure we will never place this contract unless needed in legal waiver into the public spectrum or media, it is stored in a private location after you photograph with at least a 3 mega-pixel camera or scanned it at a high resolution and <strong>ONLY!</strong> uploading to the following URL: <a href="<{agreement.uploadurl.clientel}>"><{agreement.upload.url.both}></a> ~ <em>do not return at any condition by reply to the email containing this file!</em></p>
<br />
<br />
<p>I, <strong><em><{clientel.name}></em></strong> am the participant adult activities that require guardian consent and have the consent of my guardian <strong><em><{guardian.name}></em></strong> who’s phone is <strong><em><{guardian.phone}></em></strong> or email is <strong><em><{guardian.email}></em></strong> details are {REFERER_VALUE}. I understand my legal responsibilities as a participant and realise this permission consent Form is for myself potentially a young adult as mentioned above to participant in adult education or activities sometime with classes, training and workshops with the facility provider.</p>
<br />
<br />
<br />
<p><em>I hereby declare legal consent</em>
<br />
<br />
<br />
_____________________________________<br />
Signed: <strong><em><{clientel.name}></em></strong><br />
<br /><br />
___________________________________<br />
Date<br />
<br />
My Email: <strong><em><{clientel.email}></em></strong><br />
My Phone: <strong><em><{clientel.phone}></em></strong></p>