<h1>Adult Gardian Consent Form</h1>
<p>Date: {DATE}<br />
Agreement Ref: {REFEREE}</p>
<br />
<br />
<p style="float: right; width: 77%; font-style: italic; font-size: 0.78em; margin-right: 39px;"><strong>Notice:</strong><br />This form is a legal contract that fit into none disclosure we will never place this contract unless needed in legal waiver into the public spectrum or media, it is stored in a private location after you photograph with at least a 3 mega-pixel camera or scanned it at a high resolution and <strong>ONLY!</strong> uploading to the following URL: <a href="{CONSENT_UPLOAD}">{CONSENT_UPLOAD}</a> ~ <em>do not return at any condition by reply to the email containing this file!</em></p>
<br />
<br />
<p>I, {GUARDIAN_NAME} am the legal gardian of {CLIENTEL_NAME} who’s {REFERER_TYPE} details are {REFERER_VALUE}. I understand my legal responsibilities as a gardian and realise this permission Consent Form is for this young individual as mentioned above to participate in adult education and adult related topic pertaining to this service as well as adult training and workshops with the facility provider.</p>
<br />
<br />
<br />
<p><em>I hereby declare legal consent</em>
<br />
<br />
<br />
_____________________________________<br />
Signed: {GUARDIAN_NAME}<br />
<br /><br />
___________________________________<br />
Date<br />
<br />
My Email: {GUARDIAN_EMAIL}<br />
My Phone: {GUARDIAN_PHONE}</p>